<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <%
    styles = case type.to_sym
             when :notice then "bg-green-50 text-green-700 ring-green-600/20"
             when :alert  then "bg-red-50 text-red-700 ring-red-600/20"
             else              "bg-gray-50 text-gray-700 ring-gray-600/20"
             end
  %>
  <div class="mx-auto max-w-7xl px-6 pt-4">
    <div class="rounded-md px-4 py-3 text-sm ring-1 <%= styles %>" role="status">
      <%= message %>
    </div>
  </div>
<% end %>
